<h1><a href="#">Advanced Computer Vision for the Visually Impaired</a></h1>
<p>I led the computer vision algorithm design for a retinal prosthesis system, enabling visually impaired patients to 
    <a href="https://youtu.be/de_D82zH-p4?si=-_s_gh6rhn1KfXDg&t=524" target="_blank">recognize and locate objects using auditory and visual feedback with the prosthesis</a>. 
    This innovative system was successfully tested on patients, and result in two patents (US patents <a href="https://patents.google.com/patent/US10265218B2/en" target="_blank">10,265,218</a> and <a href="https://patents.google.com/patent/US10013599B2/en" target="_blank">10,013,599</a>). 
    The technology was a significant step forward in visual prosthesis research, demonstrating the potential for computer vision and machine learningto improve the lives of the visually impaired.</p>
