<h1><a href="#">Efficient Field-Level Agricultural History</a></h1>
<!-- <h2>Rapid Agricultural Practice Insights for Field-Level Data</h2> -->
<p>I drove the design and implementation of an online pipeline that rapidly derives multiple years of agricultural practice history for a given field. 
    This solution utilized ML models deployed in Vertex AI, in combination with remote sensing models in Google Earth Engine. 
    Compute costs were reduced significantly versus the previous offline approach and allowed for more flexible updates to the underlying models.</p>
